.card{
position:relative;
float:left;
width:200px;
height:350px;
background-color:#FFFCDF;
border-width:2px;
border-style:solid;
margin:0px 2px 0px 2px;
border-radius:10px;
}
.cardname{
text-align:center;
font: 1.1em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
.carddesc{
margin-top:20px;
margin-left:20px;
font: 0.9em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
.card button{
width:90px;
position:absolute;
bottom:10px;
right:5px;
}